@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}

<div class="text-center">
    <h1 class="display-4">Mission Control</h1>
    <p>Plan rover missions from here. When all rover paths have been created, launch the mission to Mars</p>
</div>
